.sheet-container{
      display: grid;
      grid-gap:
      grid-template-columns: 1fr 1fr 18.4% 1fr;
      grid-template-rows: 13.4% 6.4% 28.7% 1fr 1fr 11.7%;
    }

    .sheet-flex-col{
      display: flex;
      flex-direction: column;
    }
    .sheet-hero{
      grid-area: 1 / 1 / 3 / 3;
      background-color: coral;
    }

    .sheet-pet{
      grid-area: 1 / 3 / 2 / 5;
    }

    .sheet-stats{
      grid-area: 3 / 1 / 4 / 2;
    }

    .sheet-skills{
      grid-area: 3 / 2 / 4 / 3;
    }

    .sheet-combat{
      grid-area: 2 / 3 / 4 / 4;
    }

    .sheet-abilities{
      grid-area: 3 / 4 / 4 / 5;
    }

    .sheet-inventory{
      grid-area: 4 / 1 / 6 / 3;
    }

    .sheet-heroics{
      grid-area: 4 / 3 / 5 / 4;
    }

    .sheet-fatigue{
      grid-area: 5 / 3 / 6 / 4;
    }

    .sheet-xp{
      grid-area: 4 / 4 / 6 / 5;
    }

    .sheet-mods{
      grid-area: 6 / 1 / 7 / 5;
      background-color: coral;
    }
